page-meus-cursos {
    .dadosClassCurso {
        float:left;
    }
    
    .imgClassCurso{
        width: 80px;
        height: 80px;
        float:left;
        padding: 10px;
        margin-right: 10px;
    }
}