page-gestao-negocio{
    
   .fonteTexto, h3
   {
       color: orange;
   }

   .detalhesEmpresaNegocio
   {
       text-align: justify;
   }

   .DoisDedosMargem
   {
       margin-left: 70px;
   }
}